DATABASE_URL=postgresql+asyncpg://postgres:YOUR_PASSWORD@postgres:5432/search_engine
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=search_engine

REDIS_HOST=redis
REDIS_PORT=6379

SHARD_1_URL=http://shard1:8001
SHARD_2_URL=http://shard2:8002
SHARD_3_URL=http://shard3:8003